<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.louhwz.mapper.StudentMapper">
    <!-- resultMap用于实现映射结果集 -->
    <resultMap id="BaseResultMap" type="com.louhwz.pojo.Student">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="studentID" property="studentID" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 插入学生信息 -->
    <insert id="create" parameterType="Student">

    </insert>

    <!-- 根据id删除信息的方法 -->
    <delete id="delete" parameterType="Long">

    </delete>

    <!-- 根据学生id查询信息的方法 -->
    <select id="findById" parameterType="Long" resultType="Student">
    </select>

    <!-- 更新学生信息的方法 -->
    <update id="update" parameterType="Student">

    </update>

    <!--分页-条件查询-->
    <select id="findByPage" parameterType="com.louhwz.pojo.Student" resultMap="BaseResultMap">
        SELECT * FROM tb_student WHERE 1=1
        <if test="name != null">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="telephone != null">
            AND telephone LIKE CONCAT('%', #{telephone}, '%')
        </if>
    </select>
</mapper>